* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: arial;
    box-sizing: border-box;
    color: inherit;
}

body {
    background: #1e1e1e;
    color: #c5c8c6;
}

noscript > div {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

#log {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 30px;
    left: 10px;
    overflow: auto;
}

#log .msg > div {
    padding: 5px 7px;
    display: inline-block;
}
#log div+div {
    margin-top: 10px;
}

#log .info {
    color: #676867;
}

#log .msg > div, #input, noscript > div {
    font-size: 16px;
    background: #282a2e;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

#log .msg.self > div {
    color: #a6e22e;
}

#form #input {
    background: #282a2e;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 100%;
    text-indent: 5px;
}
