* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    background: #e5e5e5;
}

noscript > div {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

#output {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 25px;
    left: 0;
}

#output .message {
    margin: 5px 5px 0px 5px;
    padding: 3px 5px;
    display: inline-block;
}

#output .message, #input-text, noscript > div {
    font-size: 16px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

#input-text {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 100%;
    text-indent: 5px;
}
